h1, a.navbar-brand,span{font-family: 'Open Sans', sans-serif;}
a {font-family: 'Archivo Narrow', sans-serif;}

a.navbar-brand{font-size: 36px;}
a.nav-link{font-size: 18px;}
h1{font-size: 34px;}
span{font-size: 12px;}

